<input type="checkbox" id="popuptoggle_{{- section.id -}}" value="{{- section.id -}}" />
<div class="popup-container" style="--open-delay: {{- section.settings.delay }}">
  <label class="popup-background" for="popuptoggle_{{- section.id -}}"></label>
  <div class="popup">
    <label class="popup-close" for="popuptoggle_{{- section.id -}}"></label>
    {%- if section.settings.button_text == blank and section.settings.text != blank -%}
      <a href="{{- section.settings.link }}" class="popup-content">
        {%- if section.settings.image != blank %}
          <img src="{{- section.settings.image | image_url }}" alt="" width="" height="" />
        {% endif %}
        <span class="popup-textarea {{ section.settings.color_scheme }}">
          {%- if section.settings.heading %}
            <span class="popup-heading">{{- section.settings.heading }}</span>
          {% endif %}
          {%- if section.settings.text -%}
          <span class="popup-text">
            {{- section.settings.text }}
          </span>
          {%- endif %}
          {%- if blank != section.settings.button_text -%}
            <div class="button-container">
              <span class="button">
                {{- section.settings.button_text }}
              </span>
            </div>
          {%- endif -%}
        </span>
      </a>
    {%- else -%}
      <div class="popup-content">
        {%- if section.settings.image != blank %}
          <img src="{{- section.settings.image | image_url }}" alt="" width="" height="" />
        {% endif %}
        <span class="popup-textarea {{ section.settings.color_scheme }}">
          {% if blank != section.settings.heading %}
            <span class="popup-heading">{{- section.settings.heading }}</span>
          {% endif %}
          {%- if blank != section.settings.text %}
          <span class="popup-text">
            {{- section.settings.text }}
          </span>
          {%- endif %}
          {%- if blank != section.settings.button_text and blank != section.settings.link -%}
            <div class="button-container">
              <a href="{{ section.settings.link }}" class="button">
                {{- section.settings.button_text }}
              </a>
            </div>
          {%- endif -%}
        </span>
      </div>
    {% endif %}
  </div>
</div>
<script src="{{ 'popups.js' | asset_url }}" defer async></script>
{% schema %}
  {
    "name": "Popup",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },    
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background Image"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "accent-1",
            "label": "t:sections.all.colors.accent_1.label"
          },
          {
            "value": "accent-2",
            "label": "t:sections.all.colors.accent_2.label"
          },
          {
            "value": "background-1",
            "label": "t:sections.all.colors.background_1.label"
          },
          {
            "value": "background-2",
            "label": "t:sections.all.colors.background_2.label"
          },
          {
            "value": "inverse",
            "label": "t:sections.all.colors.inverse.label"
          }
        ],
        "default": "accent-1",
        "label": "t:sections.all.colors.label"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Content"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
      {
        "type": "number",
        "default": 10,
        "label": "Popup open delay",
        "info": "The delay, in seconds, before the popup loads after the page has loaded.",
        "id": "delay"
      }
    ],
    "presets": [
      {
        "name": "Popup",
        "category": "Section"      
      }
    ]
  }
{% endschema %}